h2 {
	text-align: right;
	float: right;
	background-color:antiquewhite;
	margin: 0px;
	padding-top: 0;
	border: 1px solid black;
/*	position: relative;*/
}
h1{
	text-align: center;

}

p{
	float: left;
	position: relative;
    clear: right;
    padding: 0 10px 0 10px;
    background-color: inherit;
}
@media(min-width:992px){
	.col-4{border: 1px solid black;
		float: left;
		background-color:lightskyblue;
		width:31.3%;
/*		padding: 0 9px 10px 10px;*/
		margin: 1%;
	}
}


@media (min-width: 768px) and (max-width: 991px) {
	.col-1-6{
		background-color:lightskyblue;
		float: left;
		width: 48%;
/*		padding:  0 9px 10px 10px;*/
		border: 1px solid black;
		margin: 1%;
	}

	.col-1-12{
		background-color:lightskyblue;
		float: left;
/*		padding: 0 9px 10px 10px;*/
		width: 98%;
		border:1px solid black;
		
		margin: 1%;
	}
}

@media (min-width:0px) and (max-width: 767px){
	.col-0-12{
		background-color:lightskyblue;
		float: left;
/*		padding: 0 9px 10px 10px;*/
		border: 1px solid black;
		margin: 1.01%;
		width: 98%;
	}
}
*{
	box-sizing: border-box; 
	font-family: serif,sans-serif;
	background-color: #aaaaaa ;
}